[2021-01-26 10:00] nikoksr opened #1 "Community question: How to test external services?"
Hi, dear reader,

*notify* is currently untested and I'd love to change that but I'll be straight up honest with you, I don't know how you test a library that's so dependent on external services. Like, do you create test/pseudo accounts/bots on all supported platforms and use the real api-tokens while testing? Do you actually make calls to the external services to verify the lib is working or can

[2021-01-26 20:11] j-wil commented on #1
My recommendation would be to test the same way your modules test and actually call the service.

https://github.com/go-telegram-bot-api/telegram-bot-api/blob/master/bot_test.go
Essentially what you are doing in your application is no different than how, for example, go-telegram-bot-api is testing their own service.
[code]
It would be nice to be able to mock these services but because you are abst

[2021-01-27 00:05] nikoksr commented on #1
@j-wil thank you so much for your feedback! This really helps.

So, as I sort of wrote in the opening message, we need authorization tokens for all our supported services and then basically test the services under real conditions, right? Real conditions meaning that we actually send messages to said services.

[2021-01-27 15:02] j-wil commented on #1
@nikoksr I believe so

I've done some digging and I found an [article ](https://medium.com/@jimkang/test-slack-in-go-e61dc6f49ba1) outlining how to test slacks APIs by mocking them but honestly that feels very burdonsom given the number of services that will need to be integrated into this project.

I really like what you're starting here hope I can help in some way.

[2021-01-28 04:57] nikoksr commented on #1
@j-wil super grateful for your efforts and i totally agree with you!

The solution from the article would be good for a single news service but since we don't know where the project is going and possibly dozens of services could be supported at some point, the effort would probably be too great. I think that tests need to be reliable and consistent but also easy to implement, so I don't think the

[2021-01-28 15:23] nikoksr opened #3 "feat(service): Add WhatsApp service"
**Is your feature request related to a problem? Please describe.**

Missing support for the popular messaging platform [WhatsApp](https://www.whatsapp.com).

**Describe the solution you'd like**

Implement a [notification service](https://github.com/nikoksr/notify/tree/main/service) like we already did for [Telegram](https://github.com/nikoksr/notify/blob/main/service/telegram/telegram.go) etc. At

[2021-01-28 15:32] nikoksr opened #4 "feat(service): Add Facebook(-Messenger) service"
**Is your feature request related to a problem? Please describe.**

Missing support for the popular social network platform [Facebook(-Messenger)](https://facebook.com/).

**Describe the solution you'd like**

Implement a [notification service](https://github.com/nikoksr/notify/tree/main/service) like we already did for [Telegram](https://github.com/nikoksr/notify/blob/main/service/telegram/telegr

[2021-01-28 15:35] nikoksr opened #5 "feat(service): Add Twitter service"
**Is your feature request related to a problem? Please describe.**

Missing support for the popular social network platform [Twitter](https://www.twitter.com).

**Describe the solution you'd like**

Implement a [notification service](https://github.com/nikoksr/notify/tree/main/service) like we already did for [Telegram](https://github.com/nikoksr/notify/blob/main/service/telegram/telegram.go) etc.

[2021-01-28 16:08] nikoksr opened #6 "feat(service): Add Mastodon service"
**Is your feature request related to a problem? Please describe.**

Missing support for the popular social network platform [Mastodon](https://joinmastodon.org/).

**Describe the solution you'd like**

Implement a [notification service](https://github.com/nikoksr/notify/tree/main/service) like we already did for [Telegram](https://github.com/nikoksr/notify/blob/main/service/telegram/telegram.go) e

[2021-01-28 19:49] j-wil commented on #1
@j-wil  No problem throw me into any PRs you would like

[2021-01-29 18:31] nikoksr opened #8 "feat(service): Add Mircosoft Teams service"
**Is your feature request related to a problem? Please describe.**

Missing support for the popular social network platform [Microsoft Teams](https://www.microsoft.com/en-US/microsoft-teams/group-chat-software).

**Describe the solution you'd like**

Implement a [notification service](https://github.com/nikoksr/notify/tree/main/service) like we already did for [Telegram](https://github.com/nikoksr

[2021-01-30 02:59] kinkinkinkinkin commented on #1
Hello, I'm really a noob in code but I'm very interested in learning... I do not even know how to make a program that can test with a key api discord (I know to find it thank god) but I do not know how to give it to the program ... if someone could help me on this and on a possible main.go, so that I can try, I would be really grateful!! (i rly don't whant take your time :( )

[2021-01-30 03:07] nikoksr commented on #1
Hey @kinkinkinkinkin, appreciate your interest for the project but this is really the wrong place to ask this question. You should open a new Q&A discussion [here](https://github.com/nikoksr/notify/discussions/new) and ask your question there again.

[2021-01-30 19:16] renanbastos93tc commented on #1
Hello, Can I help you?

I thinking so to create unit tests using [gock](https://github.com/h2non/gock) to mock requests APIs as the telegram.
What do you think?

best regards,
see ya

[2021-01-30 19:19] renanbastos93 commented on #1
Hello, Can I help you?

I thinking so to create unit tests using [gock](https://github.com/h2non/gock) to mock requests APIs as the telegram.
What do you think?

Maybe we can create some tasks:
1. Unit Test Telegram
2. Unit test slack
3. ...

best regards,
see ya

[2021-01-30 19:34] renanbastos93 opened #11 "[Question]: What is pseudo service?"
Sorry guys, but I didn't understand if you really need this file: `[service/pseudo/pseudo.go](https://github.com/nikoksr/notify/blob/main/service/pseudo/pseudo.go)`

[2021-01-30 19:41] renanbastos93 opened #12 "[INTERFACES] maybe we can to use interfaces on project"
I believe that we can create an interface to subscribe to all services. However, we will guarantee integrity in all methods.
e.g
[code]

see ya

[2021-01-30 20:29] KrishanBhalla commented on #11
I'm largely in agreement here - the avoiding of nil reference errors is better handled directly rather than having this "pseudo"

[2021-01-30 20:42] KrishanBhalla commented on #12
The "Notifier" interface already exists no? And New does not have such a standard form (see the mail.go)

[2021-01-30 23:55] nikoksr commented on #11
Hey @renanbastos93 and @KrishanBhalla, appreciate your efforts and I totally agree with both of you. The pseudo service is a relic of the past and we have even implemented a regular nil check. So you are right, the service is completely obsolete.

I will look over #13 and close this issue afterwards!

[2021-01-30 23:59] nikoksr commented on #12
Yes, I agree with @KrishanBhalla here. The notifier interface serves this purpose. I'm still very grateful to you for looking for improvements, @renanbastos93. I'll close the issue, but feel free to continue the discussion.

[2021-01-30 23:59] #12 closed

[2021-01-31 00:35] nikoksr commented on #1
Hey @renanbastos93,
I didn't know about [gock](https://github.com/h2non/gock), looks great and like a potential solution. Do you have any experience using it?

[2021-01-31 00:45] nikoksr commented on #1
@j-wil I was rethinking our approach of using real api tokens and testing all services under 'real' conditions. The first service that made me rethink that approach was the one for _Microsoft Teams_ (#9).

As far as i know, there is no free version and therefore our tests would always depend on a community member having access to _MS Teams_. I then read the tests of the library that we use interna

[2021-01-31 01:09] j-wil commented on #1
@nikoksr  Hm.. Good thoughts it seems like testing is going to be tricky on this project let me take a day or two and research gock as well as some other methods of testing and report back.

[2021-01-31 01:12] nikoksr commented on #1
@j-wil tyt!

[2021-01-31 03:15] nikoksr commented on #8
Closed in #9

[2021-01-31 03:15] #8 closed

[2021-01-31 12:59] nikoksr commented on #11
Closed in #13

[2021-01-31 12:59] #11 closed

[2021-01-31 13:07] renanbastos93 commented on #1
hello @nikoksr,

I have experience using it. I can be creating an example later to show here. What do you think?

[2021-01-31 13:08] nikoksr commented on #1
@renanbastos93 an example would be great!

[2021-02-01 19:34] KrishanBhalla opened #21 "refactor: Better error handling in Send function"
**Is your feature request related to a problem? Please describe.**

Presently when sending a notification, an error in sending to one receiver will cause stop all further messages.
It would be nice if the service first attempted to notify to all other recievers.

[code]

**Describe the solution you'd like**

Either collate the errors and return them after all recievers have been attempted (i.e. ad

[2021-02-02 17:14] j-wil commented on #1
@nikoksr I'm learning some new things here so this is good!

I believe what we need to do is stub the module. Here is a good [article ](https://medium.com/@tech_phil/how-to-stub-external-services-in-go-8885704e8c53) I found with examples. The examples utilize HTTP but really we just need to return the expected predefined result or error from the module.

Gock, I believe is accomplishing the same t

[2021-02-03 12:20] KrishanBhalla commented on #1
Following on from @j-wil - this would be a working example of the slack test in a manner similar to that article.
Due to `Send` returning only an error, this kind of testing is less granular than perhaps one would like.

Telegram is somewhat harder to mock as on creation of a telegram bot, the api token is validated (i.e. [they use a real token](https://github.com/go-telegram-bot-api/telegram-bot-

[2021-02-03 14:37] nikoksr commented on #1
@j-wil a great find; very interesting article and yes, I'm learning new things here too, which makes the project all the more exciting.

Very good thought of you to suggest the review process of external services. I also think we should definitely add that from now on to avoid future problems. Having to retroactively trace bugs back to external services would be super annoying. I think this should

[2021-02-03 14:38] nikoksr commented on #1
@KrishanBhalla thanks for the example implementation. Here we come full circle again - we are back to the discussion of using real auth tokens, which would be okay as a solution but what do we do if we then have to implement a new service that does not allow free authentication tokens? I definitely want us to use a consistent testing scheme and not use gock for some services and real auth tokens f

[2021-02-03 15:08] nikoksr opened #24 "ci(service): Set standards and add review process for external services that are candiates for integration"
**Is your feature request related to a problem? Please describe.**

This is related to [j-wil's comment](https://github.com/nikoksr/notify/issues/1#issuecomment-771804673) in the discussion about the testing procedure for external services. We currently have no standards for external services that are integrated into notify, even though certain minimum requirements have of course been taken into a

[2021-02-03 15:32] nikoksr commented on #21
@KrishanBhalla thanks for opening the issues and for creating a potential solution. I like your implementation, but I'm not sure yet if it will be our final solution. Just like you said, I would like to give us some time to come up with a more elegant solution eventually. If we don't succeed, we will most likely fall back on your proposed solution.

I can think of a few things I'd like general fee

[2021-02-03 16:03] j-wil commented on #1
@KrishanBhalla Really good work!

@nikoksr KrishanBhalla mocked the entire slack service so the token does not have to be valid. If I understand correctly using this methodology there is no way to mock the telegram service specifically due to the nature of the module we are using. Perhaps we need to switch it out for one that matches our objectives.

Expanding on my third point "We will need a goo

[2021-02-03 16:09] j-wil commented on #24
Possible Criteria:
- Test coverage > 90%
- Go Report Card > B+
- Codacy > B+
- A clean License scan
  - This is included post-integration but we could use it as a way to vet projects pre-integration so we don't find ourselves in a corner

[2021-02-03 16:35] j-wil commented on #21
+ 1 for the send and must send idea that give control to the developer based on the use case.

For example, I could have a user set a primary and secondary notification preference in my application, then I could leverage both of those commands to achieve the desired result.

[2021-02-03 17:10] KrishanBhalla commented on #21
I would suggest in this case that send gains a "mustSend" parameter - that will limit code duplication.
If this is changed in the Notifier interface all services will be forced to implement it.

[code]

[2021-02-03 17:16] nikoksr commented on #21
Mh, I would rather create a non-exported _send_ function that actually handles the behavior and let _Send_ and _MustSend_ be abstractions of it. Quite busy rn, I will send an example here or a PR with my idea in mind later.

[2021-02-03 17:34] nikoksr commented on #24
@j-wil that would be great!

[2021-02-03 17:48] nikoksr commented on #1
@j-wil my bad, I think I wasn't clear enough. What I wrote about using real auth tokens was referring to the said problem with Telegram service and not @KrishanBhalla 's mocking example. It really looks like we can mock most services and may have to make an exception for Telegram. Annoys the hell out of me, but it's still better than having no tests at all.

Okay, thanks for the clarification. I s

[2021-02-03 20:22] KrishanBhalla commented on #1
@j-wil - just to clarify the following point:

I believe we can still mock, but it's significantly more complicated. When initialising a bot in the telegram code, they call this ["GetMe()"](https://github.com/go-telegram-bot-api/telegram-bot-api/blob/54104a08f947e08c460c45d195076e48e61f0a26/bot.go#L276) method. It may be possible to mock the underlying http request here, and others in the pipeline

[2021-02-06 06:23] nikoksr opened #25 "Community question: Is anyone interested in an UI for notify?"
**Is your feature request related to a problem? Please describe.**

Hey guys,

first of all, thanks for the really unbelievable support and interest so far. I recently had the idea that
there might be interest in a UI for notify.

**Describe the solution you'd like**

My first thought was a TUI with an input field, a history and a list of platforms to which the messages are sent - kind of the inte

[2021-02-06 06:47] nikoksr opened #26 "feat(service): Add RocketChat service"
**Is your feature request related to a problem? Please describe.**

Missing support for the popular team communication platform [RocketChar](https://rocket.chat/).

**Describe the solution you'd like**

Implement a [notification service](https://github.com/nikoksr/notify/tree/main/service) like we already did for [Telegram](https://github.com/nikoksr/notify/blob/main/service/telegram/telegram.go)

[2021-02-06 06:50] nikoksr opened #27 "feat(service): Add Line service"
**Is your feature request related to a problem? Please describe.**

Missing support for the popular messaging platform [Line](https://line.me/).

**Describe the solution you'd like**

Implement a [notification service](https://github.com/nikoksr/notify/tree/main/service) like we already did for [Telegram](https://github.com/nikoksr/notify/blob/main/service/telegram/telegram.go) etc. At the time wr

[2021-02-06 06:52] nikoksr opened #28 "feat(service): Add WeChat service"
**Is your feature request related to a problem? Please describe.**

Missing support for the popular social network platform [WeChat](https://www.wechat.com/).

**Describe the solution you'd like**

Implement a [notification service](https://github.com/nikoksr/notify/tree/main/service) like we already did for [Telegram](https://github.com/nikoksr/notify/blob/main/service/telegram/telegram.go) etc.

[2021-02-06 06:54] nikoksr opened #29 "feat(service): Add Instagram service"
**Is your feature request related to a problem? Please describe.**

Missing support for the popular social network platform [Instagram](https://www.instagram.com).

**Describe the solution you'd like**

Implement a [notification service](https://github.com/nikoksr/notify/tree/main/service) like we already did for [Telegram](https://github.com/nikoksr/notify/blob/main/service/telegram/telegram.go)

[2021-02-07 16:15] checkaayush commented on #3
Hi @nikoksr, I'd like to give this a shot.

[2021-02-07 17:39] prashanthpai commented on #1
Just sharing my personal experience/opinion here about unit testing. Here's how I'd go about it:

1. Create a local/unexported interface that only contains methods of backend/service that will be called.
2. Assign the newly created service client to an instance of this interface.
3. Create mock implementation of the interface for testing. During testing, you can define the behaviour of mock and as

[2021-02-07 18:23] KrishanBhalla commented on #21
More general solution:

Refactor the services so that there is a "Send"  that takes one receiver
[code]

[2021-02-08 03:25] alankan886 commented on #29
@nikoksr I would like to grab this and give it a try if possible!

[2021-02-08 03:59] catwithtudou opened #34 "feat(examples): Give more examples"
**Is your feature request related to a problem? Please describe.**

Hi! There is a problem that I don't know how to use it when I ready to use the email service.

**Describe the solution you'd like**

So we can give the more examples or docs that make more people like me know how to use it. It's very helpful.

[2021-02-08 14:44] KrishanBhalla commented on #34
In absence of documentation, I hope this helps.

## Sending emails
[code]

## Sending both emails and slack messages
[code]

[2021-02-08 20:49] chanioxaris commented on #34
@KrishanBhalla just to correct a typo in your examples, the line `mailService.AddReceivers("channel1", "channel2")` should be `slackService.AddReceivers("channel1", "channel2")`

[2021-02-09 00:59] catwithtudou commented on #34
Thanks! It's useful!

[2021-02-09 12:14] KrishanBhalla commented on #34
Thanks! Good catch

[2021-02-09 16:16] nikoksr commented on #5
Closed in 0fc65d5e3b20e62370d3936d4d2bd926977d2221.

[2021-02-09 16:16] #5 closed

[2021-02-09 17:22] nikoksr commented on #3
@checkaayush, hope things are going well. Let us know if you need any help!

[2021-02-09 17:22] nikoksr commented on #29
@alankan886, hope things are going well. Let us know if you need any help!

[2021-02-10 07:29] #34 closed

[2021-02-10 09:57] chanioxaris opened #38 "feat(service): Add SendGrid service"
**Is your feature request related to a problem? Please describe.**

Missing support for the popular email service platform [SendGrid](https://sendgrid.com/).

**Describe the solution you'd like**

Implement a notification service like already exists for Telegram etc. At the time writing the official Golang SDK [sendgrid/sendgrid-go](https://github.com/sendgrid/sendgrid-go) seems to be our best opt

[2021-02-10 13:25] nikoksr commented on #38
Hi! In the case of _Pushbullet_ we have handled it so that the _SMS_ service was packed into the [pushbullet package](https://github.com/nikoksr/notify/tree/main/service/pushbullet). So I would suggest that we keep that and put _SendGrid_'s email support in the _SendGrind_ package.

[2021-02-10 15:27] chanioxaris commented on #38
Great i have created the PR #40 with the implementation

[2021-02-10 17:04] chanioxaris opened #41 "feat(service): Add Mailgun service"
**Is your feature request related to a problem? Please describe.**

Missing support for the popular email service platform [Mailgun](https://www.mailgun.com/).

**Describe the solution you'd like**

Implement a notification service like already exists for Telegram etc. At the time writing the official Golang SDK [mailgun/mailgun-go](https://github.com/mailgun/mailgun-go) seems to be our best optio

[2021-02-10 17:25] chanioxaris commented on #41
Created a PR #42 with the proposed implementation

[2021-02-11 03:56] alankan886 commented on #29
@nikoksr, thanks for checking on me! I actually didn't have the chance to tackle this issue until now, I'm able to start new conversations and send messages to users (existing convo is a different story that I need to look more into). My only concern would be the package seems very inactive, but so far things are working.

[2021-02-12 17:09] nikoksr commented on #25
Upon reflection, _Notify_ will remain a library only.

[2021-02-12 17:09] #25 closed

[2021-02-12 17:55] nikoksr commented on #41
Closed in #42

[2021-02-12 17:55] #41 closed

[2021-02-12 17:55] nikoksr commented on #38
Closed in #40

[2021-02-12 17:55] nikoksr commented on #38
Closed in #40

[2021-02-12 17:55] #38 closed

[2021-02-13 04:36] alankan886 commented on #29
@nikoksr the PR (#43) is out now! Like I mentioned in the PR, I'm happy to add some unit tests, but seems like the conversation for testing is still ongoing at #1?

I used a bit of `stretchr/testify` before, so I can add tests and do mocking using that.

[2021-02-13 14:32] chanioxaris opened #44 "feat(service): Add Amazon SES service"
**Is your feature request related to a problem? Please describe.**

Missing support for the popular Amazon service [Simple Email Service (SES)](https://aws.amazon.com/ses/).

**Describe the solution you'd like**

Implement a notification service like already exists for Telegram etc. At the time writing the official Amazon Golang SDK [aws/aws-sdk-go](https://github.com/aws/aws-sdk-go) is the best o

[2021-02-15 23:17] chanioxaris commented on #44
Created PR #47 with the implementation

[2021-02-17 22:54] nikoksr opened #48 "refactor(send): Add MustSend method"
**Is your feature request related to a problem? Please describe.**

As discussed [here](https://github.com/nikoksr/notify/issues/21#issuecomment-772597216) the error handling in _notify.Send_ might not fit everybodys needs. There might be occasions where you want Notify to immediately stop sending the message to the other receivers in case the preceding receiver was not reachable. Maybe its a very

[2021-02-17 23:10] nikoksr opened #49 "refactor(send): Add context.Context to notify.Send method"
**Is your feature request related to a problem? Please describe.**

Since _notify.Send_ may basically send a message to a huge amount of receivers, the user might appreciate to have the ability to cancel long running send executions.

**Describe the solution you'd like**

To achieve this behavior we will add a _context.Context_ to the parameters of _notify.Send_.

Current _notify.Send_ signature:

[2021-02-17 23:19] nikoksr opened #50 "Roadmap for v1"
List of features/changes we want to finish before releasing an official v1 version:

- [x]   ~~Add _notify.MustSend_ method (#48)~~
- [x]   Add _context.Context_ to parameter list of _notify.Send_ - Done (#51)
- [ ]   Set standards and add a review process for new service candidates (#24)
- [ ]   Add missing usage docs
- [ ]   Add tests for all services (#1)

Please note that this list is not fina

[2021-02-17 23:20] nikoksr commented on #21
Closing this for #48.

[2021-02-17 23:20] #21 closed

[2021-02-17 23:23] #3 closed

[2021-02-17 23:33] nikoksr commented on #44
Closed in d0177255365da445fb29d02aa2aed81eac09a139.

[2021-02-17 23:33] #44 closed

[2021-02-22 15:15] nikoksr commented on #1
Okay, so in my opinion we should go the way @prashanthpai suggested and add the rest of the tests. I really don't want to make the code more complicated or anything like that just to get a slightly higher percentage of successful tests. Besides, in the future, if we think of a better solution for our tests, we can change our testing procedure, it won't affect the compatibility of the library.

For

[2021-02-22 15:29] nikoksr commented on #24
@j-wil just to conclude; current list of criteria:

- A library that was published directly by the vendor/developer of the service is preferable
- Does the library work at all?
- Is the library still being actively developed/maintained?
- Test coverage > 90%
- Go Report Card > B+
- Codacy > B+
- A clean License scan

[2021-02-23 00:45] #49 closed

[2021-02-23 01:02] nikoksr commented on #48
I started working on this issues and realized there was a problem with our idea.

For services like _notify.Discord_, our idea works well. You can either return a potential error immediately (_MustSend_ behavior) or collect it in an error array (_Send_ behavior) if a single receiver fails. But services like _notify.AmazonSES_ manage the receiver list by itself, so we can't control the behavior whe

[2021-02-23 01:02] #48 closed

[2021-03-09 17:07] #27 closed

[2021-03-10 03:23] scottpettyjohn commented on #4
I would like to take this one.

[2021-03-10 12:37] scottpettyjohn commented on #4
After doing a bit of research, it seems that FB messenger only allows messages to be sent in response to a user action. Users cannot be messaged preemptively. Thoughts?

[2021-03-10 18:39] bajro17 commented on #4
@scottpettyjohn You are correct it is against facebook policy it is not allowed to auto-post / send / or pre-fill messages

[2021-03-10 18:40] bajro17 commented on #6
I would love to take this one for me.

[2021-03-10 19:45] scottpettyjohn commented on #4
OK, I can implement using a page scoped id.

[2021-03-15 00:28] nikoksr commented on #6
@bajro17 sure, your contribution would be very much appreciated.

[2021-03-15 00:36] nikoksr commented on #4
@bajro17 thanks for checking the Facebook policy. And @scottpettyjohn really appreciate your efforts but I don't want to get into any trouble with this project just for the sake of supporting as many services as possible. If Facebook itself does not support this in its API and even forbids it in its policy, then we will not solve this ourselves until the policy or API changes.

[2021-03-15 08:06] gtourkas commented on #28
@nikoksr can i pick this up ?

[2021-03-16 01:03] #26 closed

[2021-03-22 09:32] gtourkas commented on #28
#68

[2021-04-15 07:49] nikoksr commented on #6
@bajro17 hope things are going well. Let me know if I can help you with anything.

[2021-04-23 13:16] nikoksr opened #82 "feat(service): Add TextMagic service"
**Is your feature request related to a problem? Please describe.**

Missing support for the business level sms messaging platform [TextMagic](https://www.textmagic.com/).

**Describe the solution you'd like**

Implement a [notification service](https://github.com/nikoksr/notify/tree/main/service) like we already did for [Plivo](https://github.com/nikoksr/notify/tree/main/service/plivo) etc. At the

[2021-04-27 05:49] nikoksr commented on #28
Closed in #68.

[2021-04-27 05:49] #28 closed

[2021-05-01 14:57] himsngh commented on #82
Hey, I would like to take this issue.

[2021-06-13 13:14] nikoksr opened #111 "feat(service): Add APNS2 service"
**Is your feature request related to a problem? Please describe.**

Missing support for [APNS (Apple Push Notification service)](https://en.wikipedia.org/wiki/Apple_Push_Notification_service).

**Describe the solution you'd like**

Implement a [notification service](https://github.com/nikoksr/notify/tree/main/service) and use existing services such as [WhatsApp](https://github.com/nikoksr/notify/t

[2021-06-13 13:18] nikoksr opened #112 "feat(service): Add Web Push service"
**Is your feature request related to a problem? Please describe.**

Missing support for [Web Push Notifications](https://developers.google.com/web/fundamentals/push-notifications).

**Describe the solution you'd like**

Implement a [notification service](https://github.com/nikoksr/notify/tree/main/service) and use existing services such as [WhatsApp](https://github.com/nikoksr/notify/tree/main/ser

[2021-06-13 13:20] nikoksr opened #113 "feat(service): Add FCM service"
**Is your feature request related to a problem? Please describe.**

Missing support for [Firebase Cloud Messaging](https://firebase.google.com/docs/cloud-messaging).

**Describe the solution you'd like**

Implement a [notification service](https://github.com/nikoksr/notify/tree/main/service) and use existing services such as [WhatsApp](https://github.com/nikoksr/notify/tree/main/service/whatsapp)

[2021-06-13 13:23] nikoksr opened #114 "feat(service): Add Viber service"
**Is your feature request related to a problem? Please describe.**

Missing support for [Viber](https://www.viber.com).

**Describe the solution you'd like**

Implement a [notification service](https://github.com/nikoksr/notify/tree/main/service) and use existing services such as [WhatsApp](https://github.com/nikoksr/notify/tree/main/service/whatsapp) as a guide for implementation. At the time wri

[2021-06-13 13:24] nikoksr opened #115 "feat(service): Add Twilio service"
**Is your feature request related to a problem? Please describe.**

Missing support for [Twilio](https://www.twilio.com).

**Describe the solution you'd like**

Implement a [notification service](https://github.com/nikoksr/notify/tree/main/service) and use existing services such as [WhatsApp](https://github.com/nikoksr/notify/tree/main/service/whatsapp) as a guide for implementation. At the time w

[2021-06-13 16:48] himsngh commented on #115
Hello @nikoksr  , I would like to work on this feature

[2021-07-31 18:44] #1 closed

[2021-08-02 07:24] stavdav143 commented on #114
hey Niko,
can I give this a go?
Grüße aus Zürich

[2021-08-13 00:13] #82 closed

[2021-08-16 13:16] zafania commented on #24
[Minutes of 110May 2021.docx](https://github.com/nikoksr/notify/files/6992591/Minutes.of.110May.2021.docx)

[2021-08-30 09:20] renovate[bot] opened #149 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/nikoksr/notify).

These dependencies have not received updates for an extended period and may be unmaintained:

<details>
<summary>View abandoned de

[2021-09-05 10:51] himsngh commented on #115
#150

[2021-10-01 21:11] xpnewmedia opened #156 "Python?"
Any current library like this for Python?

[2021-10-01 21:15] xpnewmedia commented on #156
[apprise](https://github.com/caronc/apprise)
seems to fit the bill.

thx for the inspiration.

[2021-10-01 21:15] #156 closed

[2021-10-02 00:15] fjloyola commented on #113
hey @nikoksr
 can I pick this up?

[2021-10-04 21:21] SioJL13 commented on #115
Hello @nikoksr, is this issue still up for grabs? thanks!

[2021-12-12 17:53] TheRayFitzgerald commented on #29
Hi, is this still open?

[2021-12-17 10:59] nikoksr commented on #29
Hey @TheRayFitzgerald, yes absolutely. In case that you're interested in solving this issue please pay attention to the discussion above and in #43.

If you need any help, please let me know.

[2022-04-29 01:39] SecLoop opened #268 "feat(service): Add lark service"
**Describe the missing service. Please provide useful links.**

https://www.larksuite.com/

**Describe the solution you'd like**

Add a new service that

**Potential libraries to use**

https://github.com/go-lark/lark
https://github.com/chyroc/lark

- ...

[2022-04-29 14:51] SecLoop opened #269 "How to use mail service"
## How to use mail service
Demo
[code]
![image](https://user-images.githubusercontent.com/15940596/165968933-f6783abd-85d8-4937-b41e-f8579f27cde0.png)

[2022-04-30 15:44] nikoksr commented on #269
Hey @SecLoop, I appreciate your efforts and contribution. With this one, I'm just not too sure how to handle it. Are you trying to provide an usage example for the `email` service, or, are you asking about how to use the service correctly? Please let me know, I'd like to help you out either way.

[2022-05-01 18:20] jlk opened #270 "[BUG] service := service"
Hiya. I'm digging into the source as I'm trying to figure out how to use notify, and came across this line in `send.go` that seems to have a pointless line of code at line 25:

[code]

I can send a PR to clean up this and a few small things like comments, but just want to make sure this isn't doing something non-obvious...

[2022-05-02 09:38] nikoksr commented on #270
Hi @jlk, thanks for taking the time to go through the project and code.

What you see there is one of the rare quirks in Go. We have to do this because we are using the loop iterator in a goroutine. I won't explain this in detail here now, but leave you with [this] (https://github.com/golang/go/wiki/CommonMistakes#using-goroutines-on-loop-iterator-variables=) excellent explanation from the Go wiki

[2022-05-03 11:20] SecLoop commented on #269
@nikoksr This problem has been solved when using mail service. Because of the problem of SMTP SSL. Use a non SSL port. At the same time, we also hope to support SSL port. Thank you.

[2022-05-07 18:34] svaloumas commented on #113
Hello @nikoksr, can I give this a try?

[2022-05-07 18:55] nikoksr commented on #113
@svaloumas sure thing, thanks! Let me know if you need any help.

[2022-05-09 17:02] nikoksr commented on #113
Closed by @svaloumas in #272.

[2022-05-09 17:02] #113 closed

[2022-05-10 09:33] svaloumas commented on #115
Hey @nikoksr, is anyone working on this, or may I pick it up?

[2022-05-10 21:19] matbgn opened #274 "[BUG] Whatsapp service not usable anymore"
**Describe the bug**

Regarding the official documentation of the Rhymen/go-whatsapp API

This package is not being actively maintained currently and will soon be unusuable as WhatsApp updates to multi-device. Please look at [tulir/whatsmeow](https://github.com/tulir/whatsmeow) for a Go WhatsApp Web API that is actively maintained and supports WhatsApp multi-device.

And the issues opened on it (h

[2022-05-11 10:55] nikoksr commented on #115
@svaloumas not to my knownledge. As I have now noticed, I have very unfortunately missed the above request... but well, due to my inattention you're very welcome to pick up the issue; thanks again!

[2022-05-11 10:56] nikoksr commented on #274
@matbgn thank you very much for the report! And sorry for the inconvenience. I definitely want to keep the WhatsApp service alive, so I or someone else will take care of it as soon as possible.

[2022-05-11 10:57] #270 closed

[2022-05-12 19:26] ainsleyclark opened #278 "Feat - Add workplace chat"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
It would be great to support Workplace by Facebook. I'm not sure if this is in tandem with the ticket open re supporting Facebook. But I'm pretty sure the Workplace API allows the sending of messages very easily.

Many thanks.

**Describe alternatives you've considered**
N/A

**Additional c

[2022-05-12 19:50] ainsleyclark opened #279 "Feat - Go Mail"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
It would be great to see the use of Go Mail used in this project. [https://github.com/ainsleyclark/go-mail](https://github.com/ainsleyclark/go-mail)
I think this will add SparkPost, Postal and Postmark support for free with no external dependencies.

I've noticed the go.mod file is quite la

[2022-05-17 05:33] blackandred opened #283 "feat(service): Add Signal support"
**Is your feature request related to a problem? Please describe.**
I'm using secure messengers - Signal and Matrix, I would like to have notifications there instead of have to use third, or fourth messenger.

**Describe the solution you'd like**
I would like to send notifications to unencrypted Matrix channels (I know the encrypted ones may not be possible) and/or to Signal groups.

Shoutrrr has s

[2022-05-24 19:58] jlk commented on #270
huh...that's one of the stranger go quirks I've seen - thanks for the detailed explanation, @nikoksr !

[2022-06-02 17:59] slowmanchan commented on #274
I can take a crack at it.

[2022-06-02 19:59] slowmanchan commented on #274
Seems like a [DB](https://pkg.go.dev/go.mau.fi/whatsmeow#Client) needs to be hooked up for the new package. A default `sqlite` implementation is provided. Do we want to go this route or keep lookin?

[2022-06-03 05:52] matbgn commented on #274
This is just my personnal opinion, but IF there could be a solution (i.e. with a reasonable amount of research) to avoid an additional SQL DB (even a lite one), I will be more than glad.

[2022-07-07 16:02] minhaz1217 commented on #50
Hello, I just setup pingme to send discord messages. I really like it. It's a shame that it doesn't have setup guide for discord. As someone who has little knowledge about how discord bot Eco-system works, it took me a long time to setup and a lots of googling. I want to add documentation for how to setup pingme with discord.

I think it will be something like this.

https://github.com/minhaz1217/

[2022-08-05 08:13] #115 closed

[2022-08-05 08:23] nikoksr commented on #268
Closed in #300

[2022-08-05 08:23] #268 closed

[2022-08-06 11:02] KaptinLin opened #345 "feat: Add specific recevier support"
**Describe the solution you'd like**
The ability send message to specific recevier
[code]

[2022-08-06 11:52] KaptinLin commented on #279
it seems good

[2022-08-06 11:57] nikoksr commented on #345
Hey @KaptinLin, thanks for sharing your idea/problem.

Have you considered using separate `notify` instances? For example like this:

[code]

I can see that your solution would add more flexibility but I want to consider other solutions first before agreeing or declining your idea.

[2022-08-06 12:05] #269 closed

[2022-08-06 12:23] KaptinLin commented on #345
@nikoksr yes, it can works.
I was look for a way not initialize the service when send to different receivers.

[2022-09-06 10:41] rafimuhammad01 commented on #345
hi @nikoksr @KaptinLin has this feature been implemented? I think I want to start contributing by solving this issue, would you mind?

[2022-09-07 17:07] KaptinLin commented on #345
nope, if you can contribute that would be awesome

[2022-09-08 12:36] nikoksr commented on #345
@rafimuhammad01 welcome to the project. I appreciate your willingness to support the project! We'd all be excited for your contributions in any way shape or form.

@KaptinLin could you please clarify why this feature would be beneficial for the project? This seems like a subtle pattern change and I don't want to accept changes that unnecessarily change Notify's usage patterns.

Also, I'm not happy

[2022-09-08 14:05] nikoksr commented on #279
@ainsleyclark thanks for bringing in that idea. I checked your project and like what you've done.

I don't necessarily see a problem with a "big" go.mod file especially in a project like `Notify`. Notify tries to support as many services as possible and thus it somewhat lies in its nature to be dependant on a lot of external services and libraries. Maybe you can explain to me where you see the pro

[2022-09-08 14:05] #279 closed

[2022-09-08 14:06] nikoksr commented on #278
@ainsleyclark thanks for bringing this up. Didn't know about `Facebook Workplace` until now.

[2022-09-12 00:28] nguyenvanduocit commented on #278
Maybe I will contribute this provider, I have some project on that.

[2022-09-25 14:29] nikoksr commented on #345
Closing until further notice.

[2022-09-25 14:29] #345 closed

[2022-09-28 16:25] nikoksr commented on #283
Leaving this here as a potential library for the Signal service.

[2022-10-01 20:18] arnocornette commented on #283
I'll take this one if that is okay?

[2022-10-01 20:30] arnocornette commented on #283
Is it good that I split this in two seperate branches/prs?

One for matrix and one for signal??

[2022-10-02 07:00] nikoksr commented on #283
@arnocornette yes please. That would definitely be preferable!

[2022-10-05 06:18] ainsleyclark commented on #278
@mrhillsman I have created a package for WP, dropping it in for reference:

[https://github.com/ainsleyclark/workplace](https://github.com/ainsleyclark/workplace)

[2022-10-05 13:20] hlatimer266 commented on #6
hey there! is this feature request still open?

[2022-10-05 13:28] nikoksr commented on #6
@hlatimer266 it is! Would you like me, to assign you to it?

[2022-10-05 13:33] hlatimer266 commented on #6
yup! that would be great!

[2022-10-06 15:06] itwars opened #412 "[BUG] : multiple messages"
My module:

[code]

My call in main.go:

[code]

Outputs:

[code]

Any ideas?

[2022-10-07 04:42] mrhillsman commented on #278
Just a quick update that I am still working on the implementation, thank you @ainsleyclark for the reference material, some of it was used and I added you as a contributor to the README.md; I hope that is sufficient.

[2022-10-07 06:12] nikoksr commented on #412
Hi @itwars,

happy to see you playing around with the project! Hope you've enjoyed it so far.

The issue you're encountering here happens due to how Notify _internally_ handles services. Assigning a new service to a Notifier via, as in your example, `notify.UseServices(telegramService)` [appends](https://github.com/nikoksr/notify/blob/d2dfd108500a30270f185d0e4be60c248061773a/use.go#L11) the given

[2022-10-07 15:35] irfansofyana commented on #114
Hi @nikoksr it looks like this issue has been exist for some time, may I try to work on this?

[2022-10-07 16:09] nikoksr commented on #114
Hey @irfansofyana, thanks for taking this on. Sure, go ahead, I'll assign the issue to you.

[2022-10-08 15:01] irfansofyana commented on #114
Hi @nikoksr kindly help your review on this PR: https://github.com/nikoksr/notify/pull/415, thank you 🙏

[2022-10-08 15:03] irfansofyana opened #416 "[BUG] Syslog test seems to fail under WSL"
**Describe the bug**

There is an error in the Syslog test that causing error when running `make test`

**To Reproduce**

Steps to reproduce the behavior:
1. Execute command `make test`

**Expected behavior**

Syslog test should be passed and all tests will be passed

**Screenshots**
![image](https://user-images.githubusercontent.com/33191443/194714025-f7e3a550-f3a5-444e-bb8c-90e531ed06e0.png)

**

[2022-10-08 15:26] irfansofyana opened #417 "feat(service): Add GMail service"
**Describe the missing service. Please provide useful links.**

Gmail is one of the mail providers that is used by many people. I think adding a Gmail service to `notify` will attract people to use more this library.

It will be possible to implement because GMail has an API to interact. See more details: https://developers.google.com/gmail/api/quickstart/go

**Describe the solution you'd like**
-

[2022-10-08 15:27] irfansofyana commented on #417
Hi @nikoksr I can try to help working on this too if you're okay with it :)

[2022-10-08 15:29] irfansofyana commented on #114
Also, @nikoksr, will it be possible to make this issue added to hacktoberfest by adding `hacktoberfest` label? If it can, that would be very great!

[2022-10-10 07:07] nikoksr commented on #416
@irfansofyana thanks for the report. I suspect this is caused by WSL, since the test fails in no other environment. I don't have a Windows machine ready for testing tho. Either I set one up in the coming days or someone else might confirm that WSL is the error cause.

[2022-10-10 07:11] irfansofyana commented on #416
I see, thanks for the info @nikoksr I agree that it might be causing some connection issues on WSL. If I have time, I will try to dig further on this issue

[2022-10-10 07:11] nikoksr commented on #417
@irfansofyana thanks for bringing in your ideas! We appreciate it alot. However, I feel like, I'm failing to see the additional benefit that gmail would bring to the project over the existing [mail service](https://github.com/nikoksr/notify/blob/main/service/mail/mail.go). Maybe you could elaborate before we continue.

[2022-10-10 07:12] nikoksr commented on #416
@irfansofyana that would be greatly appreciated!

[2022-10-10 07:14] nikoksr commented on #412
Closing this under the assumption that the issue got cleared up.

[2022-10-10 07:14] #412 closed

[2022-10-10 07:18] irfansofyana commented on #417
thank you @nikoksr,

In my opinion, creating a Gmail service is a benefit for some parties that don't want to host an SMTP server and want a free service.

As I could see right now, in the [mail service](https://github.com/nikoksr/notify/blob/main/service/mail/mail.go) we would need some SMTP configuration.

I also can see that we have SendGrid but at some point, it's a paid service. Gmail service

[2022-10-10 07:30] nikoksr commented on #417
@irfansofyana am I missing something or couldn't we simply use GMail as the SMTP server in our existing mail service? There's [docs](https://support.google.com/a/answer/176600?hl=en#zippy=%2Cuse-the-gmail-smtp-server) for it too. I mean, sure, like you said, there would be some configuration necessary but that's true for basically all services.

Don't get me wrong, I'm all for new services and wid

[2022-10-10 07:34] irfansofyana commented on #417
ah I see, I don't know about this and missed this previously! I think we will need to check further if it's possible or not but I think it will be possible.

No worries about this, I fully agree with your point here!

[2022-10-10 07:36] irfansofyana commented on #417
feel free to close this issue if you feel it's necessary, @nikoksr thank you!

[2022-10-10 16:38] itwars commented on #412
Hi @nikoksr,
Yes sure, it now works for me! Sorry for this late answer.
BR
Vincent

[2022-10-12 04:59] KaviiSuri commented on #112
Hey, I'd love to pick this up if it's still available?

[2022-10-12 06:37] nikoksr commented on #112
@KaviiSuri it indeed is!

[2022-10-12 07:54] KaviiSuri commented on #112
Great, I'll get a PR ready!

[2022-10-16 05:31] KaviiSuri commented on #112
Hey @nikoksr

I had a doubt regarding the implementation of this.

Web push notifications require the server to store subscription objects (in some db or memory) which are sent to it typically using an api end point.

How should I incorporate that into the implementation while exposing a generalized api that can help the user customize it?

Should we just ask for a pointer to a store interface? An

[2022-10-16 11:27] KiptoonKipkurui commented on #283
Hi, @nikoksr since you did the Matrix service, could i take on the signal support?

[2022-10-16 16:03] shivuslr41 opened #422 "feat(service): Add Mattermost service"
**Describe the missing service. Please provide useful links.**
- Add Mattermost support - https://mattermost.com
- This service is a kind of slack alternative.

**Describe the solution you'd like**
Users should be able to send messages/notifications via notify.

**Potential libraries to use**
official go driver -> https://github.com/mattermost/mattermost-server/blob/master/model/client4.go
referen

[2022-10-16 16:06] shivuslr41 commented on #422
Hi @nikoksr, I would like to grab this one and give it a try if notify can have this service...

[2022-10-16 17:18] SarojWasti opened #423 "[BUG] Incorrect Link in CODE_OF_CONDUCT.md"
**Describe the bug**

The link to Mozilla's code of conduct Enforcement ladder under the [Attribution](https://github.com/nikoksr/notify/blob/main/CODE_OF_CONDUCT.md#attribution) section just redirects to mozilla inclusion repo.

[2022-10-16 17:19] SarojWasti commented on #423
@nikoksr Can you assign it to me if this issue gets considered?

[2022-10-17 18:44] shivuslr41 commented on #422
@nikoksr, please feel free to close this issue and the pull request if *notify* is not planning to include Mattermost service.

[2022-10-19 05:14] nikoksr commented on #283
@KiptoonKipkurui sure thing! That would be highly appreciated. Want me to assign you to this issue?

[2022-10-19 09:06] nikoksr commented on #423
@SarojWasti good catch. Sure, we'd appreciate you fixing this!

[2022-10-19 09:09] nikoksr commented on #112
@KaviiSuri thanks for making sure about this! Very good point indeed and I agree with you, in general I think it's desireable to give the user as much freedom of choice as possible while providing sane defaults.

So either a setable Store interface or struct pointer would be an acceptable solution. Is there a way that you could provide like a no-op default store? Or a very simple in memory solutio

[2022-10-20 04:56] #423 closed

[2022-10-21 13:45] nikoksr commented on #274
@slowmanchan appreciate your efforts and sorry for the late response. This one just kinda got lost in the wild for me.

Just in case that you're still interested in implementing this, I'd prefer the `WhatsApp service` to have a "bring it yourself" solution for the storage. Meaning, the service should expose a way for the user to set and provide their own storage solution via an interface or object

[2022-10-21 13:51] nikoksr commented on #112
Hi @KaviiSuri, really like your attitude about this. I'm already excited for your contribution.

I'm not entirely sure, what exactly you mean tho. I guess, I'd have to look into the functionalities of web push myself.

What do you mean by having a default API route exactly? Like, storing the address to a default Webpush endpoint as a constant and using that by default for our requests? In that cas

[2022-10-21 16:30] nikoksr commented on #416
@irfansofyana any updates on this yet?

[2022-10-22 10:54] gedw99 commented on #112
I would also like to help on this .

one easy way that’s pure golang is to just use Nats Jetstream. It can be embedded or be an external service .  That’s just my own bias though .

It has a router and security.
It can also generate.

I def think an abstract API like @KaviiSuri is talking about is best though . I think you’re talking about it being abstract on both the publishing  API side ?

nats

[2022-10-22 11:57] gedw99 commented on #112
Also there are wrappers of NATS in case you want a really generic way, so that others can use their own message routers and store.

[2022-10-25 02:32] irfansofyana commented on #416
@nikoksr hey apologize, I haven't got time to dig further on this issue. Will try to debug it on the weekend!

[2022-10-25 07:20] nikoksr commented on #416
@irfansofyana no, no worries! Just checking. Nice, that would be greatly appreciated! Let me know if there's anything I can help you with.

[2022-10-25 17:04] CypherpunkSamurai commented on #29
Hello @nikoksr Can I work on this as a part of hacktoberfest?

[2022-10-27 07:20] KaviiSuri commented on #112
@gedw99 this seems very interesting, especially when the subscription objects need to be persisted in memory across multiple servers (maybe we could also look into redis for this).

I'll get the basic version done (with in memory store for subscriptions as a default), and we can figure out a better default store (maybe using nats) after that?

[2022-10-27 19:43] nikoksr commented on #29
@CypherpunkSamurai sure, that would be very much appreciated! Did you pay attention to the above discussion?  I'm not up-to-date on the state of the described issue; could you please verify that first?

[2022-10-30 09:45] KaviiSuri opened #442 "An Examples Folder"
**Is your feature request related to a problem? Please describe.**
As someone exploring a library or a contributor, it can be messy to create a sandbox project to test out the local version.

I'm not sure if this is worth maintaining, but I just wanted to propose the idea.

**Describe the solution you'd like**
An example folder, similar to how it's done in the webpush-go package can solve this eas

[2022-11-16 15:11] nikoksr commented on #114
Closed in #415.

[2022-11-16 15:11] #114 closed

[2022-11-16 15:13] nikoksr opened #455 "feat(service): Add Gotify service"
**Describe the missing service. Please provide useful links.**

Implement service for [Gotify](https://github.com/gotify). API docs can be found [here](https://gotify.net/api-docs).

[2022-11-16 15:14] nikoksr opened #456 "feat(service): Add Pushover service"
**Describe the missing service. Please provide useful links.**

Implement a new service for [Pushover](https://pushover.net/). API docs can be found [here](https://pushover.net/api).

[2022-11-16 15:15] nikoksr opened #457 "feat(service): Add Zulip service"
**Describe the missing service. Please provide useful links.**

Add new service for [zulip](https://zulip.com/). API docs can be found [here](https://zulip.com/api/).

[2022-11-16 15:17] nikoksr opened #458 "feat(service): Add Gitter service"
**Describe the missing service. Please provide useful links.**

Add new service for [Gitter](https://gitter.im/). API docs can be found [here](https://developer.gitter.im/docs/rest-api).

[2022-11-16 15:18] nikoksr opened #459 "feat(service): Add Google Chat service"
**Describe the missing service. Please provide useful links.**

Add new service for [Google chat](https://workspace.google.com/intl/products/chat/). API docs can be found [here](https://developers.google.com/chat/api/guides/rest-api).

[2022-11-16 15:19] nikoksr opened #460 "feat(service): Add Home-Assistant service"
**Describe the missing service. Please provide useful links.**

Add new service for [home-assistant](https://www.home-assistant.io/). API docs can be found [here](https://developers.home-assistant.io/docs/api/rest/).

[2022-11-16 15:21] nikoksr opened #461 "feat(service): Add Ntfy service"
**Describe the missing service. Please provide useful links.**

Add new service for [Ntfy](https://github.com/binwiederhier/ntfy). API docs can be found [here](https://docs.ntfy.sh/publish/).

[2022-11-16 15:22] nikoksr opened #462 "feat(service): Add Reddit service"
**Describe the missing service. Please provide useful links.**

Add new service for [Reddit](https://www.reddit.com/). API docs can be found [here](https://www.reddit.com/dev/api/).

[2022-11-16 15:23] nikoksr opened #463 "feat(service): Add Streamlabs service"
**Describe the missing service. Please provide useful links.**

Add new service for [Streamlabs](https://streamlabs.com/). API docs can be found [here](https://streamlabs.com/).

[2022-11-17 07:34] joshm91 commented on #456
Hey @nikoksr, I'm happy to pick this up.

[2022-11-18 08:34] #456 closed

[2022-11-18 08:43] joshm91 commented on #462
@nikoksr I can pick up this as well, I've used [varanbeno/go-reddit](https://github.com/vartanbeno/go-reddit) quite a bit.

[2022-11-19 08:45] joshm91 commented on #416
@irfansofyana Can you try running `service rsyslog status` to see if rsyslogd is running? If it's not, try running `service rsyslog start` and then re-running the test suite.

Ref: https://answers.microsoft.com/en-us/windows/forum/all/location-of-syslog-file-in-windows-10-ubuntu-bash/ae40a2d2-005e-4130-b830-d90e768e6fb5

[2022-11-20 11:49] #462 closed

[2022-11-20 14:58] gedw99 commented on #112
@KaviiSuri
Nats can persis in memory or durable.

It is perfect for web push because it have various retention flags and one of them is to store the message  only as long as all subscribers have not seen the message. So you can push the message to nats and nats will ensure the message is only deleted after all subscribers have had it delivered .

Nats can also store images and video in the same wa

[2022-11-30 00:58] Elystus commented on #6
Seems like this task was never completed. I'll take a chance on this one, given the relevance of Mastodon in the recent few weeks.

[2022-11-30 14:24] chenyunda218 opened #477 "feat(service): Add WeCom service"
**Describe the missing service. Please provide useful links.**

Add new service for [WeCom](https://work.weixin.qq.com/). API docs can be found [here](https://open.work.weixin.qq.com/help2/pc/14931).